input {
    width: 35px;
}
.main {
    border: 2px solid black;
    background-color: palegreen;
    width: 500px;
    height: 700px;
}
#formDelta {
    border: 2px solid black;
    width: fit-content;
    padding: 15px;
    margin: 35px;
}

#formBhask {
    border: 2px solid black;
    width: fit-content;
    padding: 15px;
    margin: 35px;
}

.painel-main {
    margin: 25px;
}

#res-painel-main {
    background-color: lightgoldenrodyellow;
    width: 100px;
    height: 15px;
}